body.customers {
    background-color: #aa256b;
    padding-bottom: 30px;

    &.offer {
        .header {
            width: 100%;
        }
        .tv {
            width: 80%;
            margin: 40px auto 0 auto;
            display: block;
        }
        h1 {
            font-family: "Montserrat-Light";
            text-align: center;
            line-height: 1.5em;
            margin: 0px auto 0 auto;
            font-size: 1.125em;
            color: #fff;
             width: 74%;
        }
        h2 {
            font-family: "Montserrat-Light";
            text-align: center;
            line-height: 1.5em;
            margin: 24px auto 0 auto;
            font-size: 1.125em;
            color: #fff;
             width: 74%;
        }
        p {
            font-family: "Montserrat-Medium";
            text-align: center;
            line-height: 1.5em;
            text-transform: uppercase;
            margin: 35px auto 0 auto;
            font-size: 1.125em;
            color: #fff;
             width: 74%;
        }

        .bold{
            font-family: "Montserrat-Medium";
            a:link, a:visited, a:hover{
                color: #59c4f3;
                text-decoration: underline;
            }
        }

        .want-more{
             font-family: "Montserrat-Light";
            text-align: center;
            line-height: 1.5em;
            text-transform: none;
            margin: 24px auto 0 auto;
            font-size: 1.125em;
            color: #fff;
        }
        .btn {
            height: 45.5px;
            width: 40%;
            display: block;
            font-family: "Montserrat-Medium";
            margin: 0 auto 0 auto;
            background: #e42045;
            text-transform: uppercase;
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
            font-weight: normal;
            font-size: 1.094em;
            border: none;
            margin: 21px auto 0 auto;
            a:link, a:hover, a:visited {
                text-decoration: none;
            }
        }
        .legal {
            font-family: "Montserrat-Light";
            font-size: 0.625em;
            color: #fff;
            text-align: left;
            width: 70%;
            text-transform: none;
            margin: 40px auto 0 auto;
            line-height: 1.4em;
            a:link, a:hover, a:visited {
                text-decoration: underline;
                color: #fff;
            }
        }
    }
}
