/************************
        ROTATE DEVICE
/************************/

@media (orientation: portrait) {
    #rotate-portrait {
        display: none;
    }
}

@media (orientation: landscape) {
    img#rotate-icon {
        margin: 40% auto;
    }

    .rotate-title{
        color: #fff;
        text-align: center;
        font-family: "Montserrat-SemiBold";
         margin: 17px auto 0 auto;
        font-size: 1.69em;
        line-height: 1.3em;
    }

    .rotate-device-copy {
        font-family: 'Montserrat-Light';
        color: #fff;
        width: 100%;
        text-align: center;
        font-size: 1.2em;
        margin: 32px auto 0 auto;
        text-transform: none;
        position: relative;
    }
    .rotate {
        width: 12%;
        margin: 17px auto 0 auto;
        position: relative;
        left: 0;
        right: 0;
    }

    .header{
        width: 100%;
    }

    .logo-rotate{
        width: 15%;
        margin: 20px auto 0 20px;
    }
    #rotate-device {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #aa256b;
        z-index: 10000;
        -webkit-animation: fade ease-in .25s;
    }
    @-webkit-keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    #rotate-device-portrait {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
       background: #aa256b;
        z-index: 10000;
        -webkit-animation: fade ease-in .25s;
    }
    @-webkit-keyframes fade {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    img.rotate {
        -webkit-animation: rotate-icon ease-in-out 4s infinite;
    }
    @-webkit-keyframes rotate-icon {
        0% {
            -webkit-transform: rotate(0deg);
        }
        25% {
            -webkit-transform: rotate(90deg);
        }
        50% {
            -webkit-transform: rotate(90deg);
        }
        100% {
            -webkit-transform: rotate(0deg);
        }
    }
    img#rotate-portrait {
        -webkit-animation: rotate-icon ease-in-out 4s infinite;
    }
    @-webkit-keyframes rotate-icon {
        0% {
            -webkit-transform: rotate(0deg);
        }
        25% {
            -webkit-transform: rotate(-90deg);
        }
        50% {
            -webkit-transform: rotate(-90deg);
        }
        100% {
            -webkit-transform: rotate(0deg);
        }
    }
}
