body.static {
  background-color: #aa256b;

  &.tap_to_join {
    .header {
      width: 100%;
    }
    .redbox_iq_box {
      width: 70%;
      margin: 47.5px auto 0 auto;
      display: block;
    }
    h1 {
      font-family: "Montserrat-Light";
      font-size: 1.125em;
      color: #fff;
      text-align: center;
      text-transform: none;
      margin: 32px auto 0 auto;
      line-height: 1.5em;
      width: 74%;
    }
    h2 {
      font-family: "Montserrat-Light";
      font-size: 1.125em;
      color: #fff;
      text-align: center;
      text-transform: none;
      margin: 42.5px auto 0 auto;
      line-height: 1.5em;
      width: 74%;
    }
    p {
      font-family: "Montserrat-Light";
      font-size: 0.625em;
      color: #fff;
      text-align: left;
      width: 70%;
      text-transform: none;
      margin: 40px auto 0 auto;
      line-height: 1.5em;
      width: 74%;
    }
    .btn {
      height: 45.5px;
      width: 40%;
      display: block;
      font-family: "Montserrat-Medium";
      margin: 0 auto 0 auto;
      background: #e42045;
      color: #fff;
      text-transform: uppercase;
      border-radius: 5px;
      text-decoration: none;
      font-weight: normal;
      font-size: 1.094em;
      border: none;
      margin: 28.5px auto 0 auto;
      a:link, a:hover, a:visited {
        text-decoration: none;
      }
    }
    a:link,
    a:hover,
    a:visited {
      text-decoration: underline;
      color: #fff;
    }
  }

  &.mobile_only {
    h1 {
      color: #fff;
      font-size: 2.6em;
      text-align: center;
      font-family: "Montserrat-SemiBold";
      text-transform: uppercase;
      margin: 97px auto 0 auto;
    }
    h2 {
      color: #fff;
      font-size: 1.69em;
      text-align: center;
      font-family: "Montserrat-SemiBold";
      text-transform: uppercase;
      margin: 22px auto 0 auto;
    }
    p {
      margin: 54.5px auto 0 auto;
      color: #fff;
      text-align: center;
      font-family: "Montserrat-Light";
      font-size: 1.172em;
    }
  }
  &.error {
    background-color: #aa256b;
    .header {
      width: 100%;
    }
    h1 {
      color: #fff;
      font-size: 1.75em;
      text-align: center;
      font-family: "Montserrat-SemiBold";
      text-transform: uppercase;
      margin: 97px auto 0 auto;
    }
    p {
      color: white;
      text-align: center;
      font-family: "Montserrat-Light";
      font-size: 1.125em;
      font-weight: normal;
      margin: 40px auto 0 auto;
    }
  }
  &.promo_ended,
  &.thanks_already_subscribed, &.expired_page {
    .header{
      width: 100%;
    }

    h1 {
      color: #fff;
      font-size: 1.75em;
      text-align: center;
      font-family: "Montserrat-SemiBold";
      text-transform: uppercase;
      margin: 97px auto 0 auto;
    }
    h2 {
      font-family: "Montserrat-Light";
      font-size: 1em;
      color: #fff;
      line-height: 1.5em;
      margin: 41px auto 0 auto;
      text-align: center;
      width: 70%;
    }
    p {
      font-family: "Montserrat-Light";
      font-size: 1.125em;
      color: #fff;
      margin: 29.5px auto 0 auto;
      text-align: center;
    }
    a:link,
    a:hover,
    a:visited {
      color: #59c4f3;
      text-decoration: underline;
    }
  }
}

@media(min-width: 600px) and (max-width: 4000px) {
  body.static {
    #rotate-device-portrait{
      display: none;
    }
    &.error, &.expired_page {
      background-repeat: no-repeat;
      background-size: cover;
      .logo {
        margin: 1em 0;
        display: block;
        width: 10%;
        margin: 30px auto 0 60px;
      }
      .mobile-only-logo {
        margin: 50px auto 0 auto;
        color: #fff;
        font-size: 4em;
        width: 8%;
        display: block;
      }
      .header {
        width: 100%;
      }
      h1 {
        color: #fff;
        font-size: 1.75em;
        text-align: center;
        font-family: "Montserrat-SemiBold";
        text-transform: uppercase;
        margin: 37px auto 0 auto;
      }
      p {
        color: white;
        text-align: center;
        font-family: "Montserrat-Light";
        font-size: 1em;
        font-weight: normal;
        margin: 40px auto 0 auto;
      }
      .legal {
        color: #fff;
        font-family: "RobotoCondensed-Regular";
        font-size: .8em;
        width: 60%;
        text-align: center;
        position: fixed;
        bottom: 40px;
        display: block;
        margin: 0px auto 0 auto;
        left: 0;
        right: 0;
      }
    }
    &.mobile_only {
      h1 {
        color: #fff;
        font-size: 2.6em;
        text-align: center;
        font-family: "Montserrat-SemiBold";
        text-transform: uppercase;
        margin: 97px auto 0 auto;
      }
      h2 {
        color: #fff;
        font-size: 1.69em;
        text-align: center;
        font-family: "Montserrat-SemiBold";
        text-transform: uppercase;
        margin: 22px auto 0 auto;
      }
      p {
        margin: 54.5px auto 0 auto;
        color: #fff;
        text-align: center;
        font-family: "Montserrat-Light";
        font-size: 1.172em;
      }
    }
    &.promo_ended,
    &.thanks_already_subscribed {
      .header{
        width: 100%;
      }
      h1 {
        color: #fff;
        font-size: 1.75em;
        text-align: center;
        font-family: "Montserrat-SemiBold";
        text-transform: uppercase;
        margin: 97px auto 0 auto;
      }
      h2 {
        font-family: "Montserrat-Light";
        font-size: 1.125em;
        color: #fff;
        margin: 41px auto 0 auto;
        text-align: center;
        width: 70%;
      }
      p {
        font-family: "Montserrat-Light";
        font-size: 1.125em;
        color: #fff;
        margin: 29.5px auto 0 auto;
        text-align: center;
      }
      a:link,
      a:hover,
      a:visited {
        color: #59c4f3;
        text-decoration: underline;
      }
    }
  }


}

@media (min-width: 600px) and (max-width: 4000px){
  body.static {
    &.tap_to_join{
      .header{
        width: 100%;
      }

      h1, h2{
        font-size: 1.69em;
        width: 35%;

      }


      .redbox_iq_box{
        width: 25%;
        margin: 10px auto 0 auto;
      }

      p{
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
