<div class="container">
  <%=image_tag "header.png", class: "header"%>
  <%=image_tag "tv_thanks_last.png", class: "tv"%>
  <h1>You got <span class="bold"><span data-score-result><%= @customer.total_score %></span> out of 12</span> questions correct. You've earned $<span data-offer-type class="bold"><%= @customer.offer_amount %></span> off your next Redbox disc rental.</h1>
  <h2>We'll text you tomorrow, 1/12, with a code to redeem your winning total.</h2>
  <p class="want-more"><br>Now let's ditch the distractions and gather up for quality movie time together. <span class="bold"><a href="http://www.redbox.com?cid=mobile:sms:triviaURL:20181106" target="_blank">Find A Movie</a></span></p>
</div>