<div class='question-info' data-question-info>
  <div class='question-board'>
    <div class='question-word'>question <span class="question-number" data-question-number></span><span class="question-number">/3</span></div>
    
  </div>

  <div class='progress-bar-container' data-progress-bar-container>
    <% 10.times do |i| %>
      <div class='progress-bar-cell unfilled' data-progress-bar-cell='<%= i %>' style='left:<%= i * 10 %>px;'></div>
    <% end %>
  </div>
</div>
