<div class="promo-ended-page">
	<%=image_tag "header.png", class: "header"%>

	<div class="copy-container">
	  <h1>Sorry!</h1>
	  <h2>This promotion has ended. Stay tuned for more great stuff coming soon to the Box.</h2>
	  <p>Visit us at <a href="https://redbox.com" target="_blank">redbox.com</a></p>
	</div>
</div>