<div class="tap2join">
	<%=image_tag "header.png", class: "header visible-xs"%>
	<%=image_tag "header_desktop.png", class: "header hidden-xs"%>
	<%=image_tag "redbox_iq_box.png", class: "redbox_iq_box"%>
	<h1>Up for the challenge? Play our trivia game and earn up to $3.00 OFF a disc rental.</h1>
	<button type="button" class="btn text-it" onclick="gtag('event','tap_here',{'event_category' : 'Redbox_text_club','event_label': 'join_text_club'});">Tap Here</button>
	<h2 class="hidden-xs">Text TRIVIA to 727272 to join Redbox Text Club* and start playing Redbox IQ.</h2>
	<h2 class="visible-xs">Or text TRIVIA to 727272 to join Redbox Text Club* and start playing Redbox IQ.</h2>
	<p>*By texting TRIVIA to 727272 and joining Redbox Text Club, you agree to receive recurring text messages to your mobile number from Redbox, which may be sent through an automatic telephone dialing system. Message and data rates may apply. Text STOP to cancel. HELP for help. Consent not required to rent/buy from Redbox. Terms: <a href="https://www.redbox.com/textclub/faq" target="_blank">https://www.redbox.com/textclub/faq</a> Privacy Policy: <a href="https://www.redbox.com/privacy" target="_blank">https://www.redbox.com/privacy</a></p>

</div>

<%= javascript_include_tag 'new_customer' %>
