<div class="already-subscribed-page">
	<%=image_tag "header.png", class: "header visible-xs"%>
	<%=image_tag "header_desktop.png", class: "header hidden-xs"%>

	<div class="copy-container">
	  <h1>Whoops!</h1>
	  <h2>Looks like you've already played today. Check your phone for a new text daily through 10/19 for your chance to play.</h2>
	  <p>Visit us at <a href="https://redbox.com" target="_blank">redbox.com</a></p>
	</div>
</div>

