<div class="desktop-redirect">
	<%=image_tag "header.png", class: "header visible-xs"%>
	<%=image_tag "header_desktop.png", class: "header hidden-xs"%>

	<div class="copy-container">
	  <h1>Pause!</h1>
	  <h2>This experience is optimized for mobile.</h2>
	  <p>Please open this URL on your phone to answer today's trivia questions.</p>
	</div>
</div>