<div class="error-page">
	<%=image_tag "header.png", class: "header visible-xs"%>
	<%=image_tag "header_desktop.png", class: "header hidden-xs"%>

	<div class="copy-container">
	  <h1>Hmm…<br>something's<br>not right.</h1>
	  
	  <p>Please revisit your original<br>URL to answer today's questions.</p>
	</div>
</div>