<div class="container">
	<%=image_tag('pepboys-logo.png', class: "logo")%>
	<div class="copy-container">
	  <h1>Thanks&#8212;a text from us is on the way!</h1>
	  <p> You'll need to <span class='reply-y'>REPLY Y</span> to that message for your chance to play.</p>
	</div>

	
</div>