@font-face {
  font-family: 'Montserrat-SemiBold';
  src: asset-url('Montserrat-SemiBold.eot'); 
  src: asset-url('Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
       asset-url('Montserrat-SemiBold.woff') format('woff'), 
       asset-url('Montserrat-SemiBold.ttf')  format('truetype'), 
       asset-url('Montserrat-SemiBold.svg#Montserrat-SemiBold') format('svg'); 
  font-style:   normal;
  font-weight:  normal;
}


@font-face {
  font-family: 'Montserrat-Light';
  src: asset-url('Montserrat-Light.eot'); 
  src: asset-url('Montserrat-Light.eot?#iefix') format('embedded-opentype'),
       asset-url('Montserrat-Light.woff') format('woff'), 
       asset-url('Montserrat-Light.ttf')  format('truetype'), 
       asset-url('Montserrat-Light.svg#Montserrat-Light') format('svg'); 
  font-style:   normal;
  font-weight:  normal;
}


@font-face {
  font-family: 'Montserrat-Medium';
  src: asset-url('Montserrat-Medium.eot'); 
  src: asset-url('Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
       asset-url('Montserrat-Medium.woff') format('woff'), 
       asset-url('Montserrat-Medium.ttf')  format('truetype'), 
       asset-url('Montserrat-Medium.svg#Montserrat-Medium') format('svg'); 
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'MuseoSlab-700';
  src: asset-url('MuseoSlab-700.eot'); 
  src: asset-url('MuseoSlab-700.eot?#iefix') format('embedded-opentype'),
       asset-url('MuseoSlab-700.woff') format('woff'), 
       asset-url('MuseoSlab-700.ttf')  format('truetype'), 
       asset-url('MuseoSlab-700.svg#MuseoSlab-700') format('svg'); 
  font-style:   normal;
  font-weight:  normal;
}
