<div class="container">
  <%=image_tag "header.png", class: "header"%>
  <%=image_tag "tv_thanks.png", class: "tv"%>
  <h1>You got <span class="bold"><span data-score-result><%= @customer.todays_score(day) %></span> out of 3</span> questions correct. You've earned $<span data-offer-type class="bold"><%= @customer.todays_offer_amount(day) %></span> today.</h1>
  <h2>We'll send you a code on 1/12<br>with your winning total!</h2>
  <p>Share with a friend so<br>they can earn $$$ too!</p>
  <button type="button" class="btn send-it">Send Text</button>
</div>