<div class="container">
  <div data-role="rotate" id="rotate-portrait">
  <section class="rotate-portrait">
      <div id="rotate-device-portrait">
          <%=image_tag "header_rotate.png", class: "header"%>

        <div class="img-container" align="center">
          <%=image_tag('arrow_rotate.png', class: 'rotate')%>
        </div>
        <div class="spacer-50"></div>
        <div class="copy-container" align="center">
          <div class="rotate-title">This experience works<br>best in portrait mode.</div>
          <div class="rotate-device-copy">Please rotate your device to continue.</div>
        </div>
      </div>
  </section>
  </div>
</div>


